<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.apogeo.android.cap10.protectedtest" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ProtectedTestActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ProtectedActivity"
			android:permission="it.apogeo.android.cap10.protectedtest.permission.MY_PERMISSION">
			<intent-filter>
				<action android:name="it.apogeo.android.cap10.action.PROTECTED_ACTION" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="5" />
	<permission
		android:name="it.apogeo.android.cap10.protectedtest.permission.MY_PERMISSION"
		android:protectionLevel="normal" android:icon="@drawable/icon"
		android:label="@string/permission_label" android:description="@string/permission_description"></permission>

</manifest> 