<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.apogeo.android.cap08.teammanagercp" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".TeamManagerCPActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="EditTeamActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"></category>
				<data android:mimeType="vnd.android.cursor.item/vnd.teamprovider.team"></data>
			<action android:name="android.intent.action.VIEW"></action>
</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="5" />

</manifest> 